<html>
    <head>
        <title>remote_control_cozmo.py display</title>
        <link type="text/css" rel="stylesheet" href="static/styles.css"/>
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <script src="static/dist/nipplejs.js" charset="utf-8"></script>
    </head>
    <body class="unselectable" style="background-color: #59ABE3; font-family: Avenir;">
        <img style="position: absolute; margin-left:400px; margin-top:0px; height:44px; width:256px;" src="static/images/cozmo_logo.png">
        <img style="position: absolute; margin-left:850px; margin-top:2px; height:32px; width:32px;" src="static/images/coin.png">
        <h2 id="tips" style="position: absolute; margin-left:900px ; margin-top: 0px; font-size: 32px; color:#FFF;">0</h2>
        <br><br><br><br>
        <table>
            <tr>
              <td width=5%></td>
                <td style="text-align:center;" valign=top>
                    <h2 id="movementText" style="color:#FFF; opacity:0.9;" >Control Movement</h2>
                </td>
                <td width=40%>
                    <div class="onoffswitch" style="margin-left:70px;">
                        <input type="checkbox" onchange="toggleMode()" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </td>
                <td style="text-align:center;" valign=top>
                    <h2 id="headLiftText" style="color:#FFF; opacity:0.9;">Control Lift</h2>
                </td>
            </tr>
            <tr>
                <td width=5%></td>
                <td>
                    <div id="movementButtons" style="text-align:center;width:100%;">
                      <button id="up" class="unselectable" style="height:80px;width:150px;background: url(static/images/up.png) no-repeat; background-size: 50%; background-position: center; background-color: #87D37C; border: 2px solid #26A65B;" ontouchstart="moveup()" onmousedown="moveup()" onmouseup="stopMove()" ontouchend="stopMove()"></button><br><br><br>
                      <button id="left" class="unselectable" style="height:80px;width:150px;background: url(static/images/left.png) no-repeat; background-size: 50%; background-position: center; background-color: #87D37C; border: 2px solid #26A65B;" ontouchstart="moveleft()" onmousedown="moveleft()" onmouseup="stopMove()"  ontouchend="stopMove()"></button>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button id="right" class="unselectable" style="height:80px;width:150px;background: url(static/images/right.png) no-repeat; background-size: 50%; background-position: center; background-color: #87D37C; border: 2px solid #26A65B;" ontouchstart="moveright()" onmousedown="moveright()" onmouseup="stopMove()"  ontouchend="stopMove()"></button><br><br><br>
                      <button id="down" class="unselectable" style="height:80px;width:150px;background: url(static/images/down.png) no-repeat; background-size: 50%; background-position: center; background-color: #87D37C; border: 2px solid #26A65B;" ontouchstart="movedown()" onmousedown="movedown()" onmouseup="stopMove()" ontouchend="stopMove()"></button>
                    </div>
                </td>
                <td width=40%>
                    <h2 id="autoText" style="text-align:left; margin-left: 30px; color:#000;">Cozmo Autonomous</h2>
                    <img id="autoImg" style="margin-left: 75px; height:180px; width:150px;"  src="static/images/cozmo.png">
                </td>
                <td>
                    <div id="liftButtons" style="text-align:center;width:100%;">
                      <button id="lup" class="unselectable" style="height:80px;width:150px;background: url(static/images/liftup.png) no-repeat; background-size: 50%; background-position: center; background-color: #87D37C; border: 2px solid #26A65B;" ontouchstart="moveupLift()" onmousedown="moveupLift()" onmouseup="stopMoveLift()" ontouchend="stopMoveLift()" ></button><br><br><br><br>
                      <button id="ldown" class="unselectable" style="height:80px;width:150px;background: url(static/images/liftdown.png) no-repeat; background-size: 50%; background-position: center; background-color: #87D37C; border: 2px solid #26A65B;" ontouchstart="movedownLift()" onmousedown="movedownLift()" onmouseup="stopMoveLift()" ontouchend="stopMoveLift()"></button>
                    </div>
                </td>

            </tr>
        </table>

        <script type="text/javascript">
            defaultBtnColor = "#87D37C"
            downBtnColor = "#26A65B"
            var gisControllingHead = false
            var isRemoteMode = true
            var currentCoins = 0
            document.addEventListener('gesturestart', function (e) {
                e.preventDefault();
            });

            document.getElementById("myonoffswitch").checked = true;
            toggleMode();

            function toggleMode() {
                isRemoteMode = !document.getElementById("myonoffswitch").checked;
                postHttpRequest("modechange", {isRemoteMode})
            }

            function moveup() {
                angle = 90;
                force = 1;
                document.getElementById("up").style.backgroundColor = downBtnColor;
                postHttpRequest("joystickMove", {angle,force});
            }
            function movedown() {
                angle = 270;
                force = 1;
                document.getElementById("down").style.backgroundColor = downBtnColor;
                postHttpRequest("joystickMove", {angle,force})
            }
            function moveleft() {
                angle = 180;
                force = 1;
                document.getElementById("left").style.backgroundColor = downBtnColor;
                postHttpRequest("joystickMove", {angle,force})
            }
            function moveright() {
                angle = 0;
                force = 1;
                document.getElementById("right").style.backgroundColor = downBtnColor;
                postHttpRequest("joystickMove", {angle,force})
            }
            function stopMove() {
                msg = "End";
                document.getElementById("up").style.backgroundColor = defaultBtnColor;
                document.getElementById("down").style.backgroundColor = defaultBtnColor;
                document.getElementById("left").style.backgroundColor = defaultBtnColor;
                document.getElementById("right").style.backgroundColor = defaultBtnColor;
                postHttpRequest("joystickEnd", {msg})
            }

            function moveupLift() {
                angle = 90;
                force = 1;
                document.getElementById("lup").style.backgroundColor = downBtnColor;
                postHttpRequest("liftMove", {angle,force})
            }
            function movedownLift() {
                angle = 270;
                force = 1;
                document.getElementById("ldown").style.backgroundColor = downBtnColor;
                postHttpRequest("liftMove", {angle,force})
            }
            function stopMoveLift() {
                msg = "End";
                document.getElementById("lup").style.backgroundColor = defaultBtnColor;
                document.getElementById("ldown").style.backgroundColor = defaultBtnColor;
                postHttpRequest("liftEnd", {msg})
            }

            function postHttpRequest(url, dataSet)
            {
                var xhr = new XMLHttpRequest();
                if (url == "checkStatus") {
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState == XMLHttpRequest.DONE) {
                            parseStatus(xhr.response);
                        }
                    }
                }
                xhr.open("POST", url, true);
                xhr.send( JSON.stringify( dataSet ) );
            }

            function parseStatus(resp) {
                var res = resp.split("'").join('"');
                console.log(res);
                var obj = JSON.parse(res);
                if(obj["pizza"] == "true") {
                    playSpawnSound();
                }
                updateAutoText(obj["mode"]);
                updateCoins(obj["coins"]);
                arcadeDone(obj["arcade"]);
            }
            function arcadeDone(resp) {
                console.log(resp);
                if(resp == "100") {
                    var audio = new Audio('static/sounds/red.ogg');
                    audio.play();
                }
                else if(resp == "125") {
                    var audio = new Audio('static/sounds/yellow.ogg');
                    audio.play();
                }
                else if(resp == "300") {
                    var audio = new Audio('static/sounds/green.ogg');
                    audio.play();
                }
            }
            function updateAutoText(response) {
                if(response == "True") {
                    document.getElementById("autoText").style.visibility = "visible";
                    document.getElementById("autoImg").style.visibility = "visible";
                    document.getElementById("liftButtons").style.visibility = "hidden";
                    document.getElementById("movementButtons").style.visibility = "hidden";
                    document.getElementById("headLiftText").style.visibility = "hidden";
                    document.getElementById("movementText").style.visibility = "hidden";

                } else {
                    document.getElementById("autoText").style.visibility = "hidden";
                    document.getElementById("autoImg").style.visibility = "hidden";
                    document.getElementById("liftButtons").style.visibility = "visible";
                    document.getElementById("movementButtons").style.visibility = "visible";
                    document.getElementById("headLiftText").style.visibility = "visible";
                    document.getElementById("movementText").style.visibility = "visible";
                }
            }

            function updateCoins(coins) {
                document.getElementById("tips").innerText = "" + coins;
                if(coins > currentCoins) {
                    currentCoins = coins;
                    var audio = new Audio('static/sounds/coin.ogg');
                    audio.play();
                }
                else if(coins < currentCoins) {
                    currentCoins = coins;
                    var audio = new Audio('static/sounds/coinuse.ogg');
                    audio.play();
                }
            }
            function playSpawnSound() {
                var audio = new Audio('static/sounds/ting.ogg');
                audio.play();
            }

            function updateCozmo()
            {
                postHttpRequest("updateCozmo", {} )
            }
            setInterval(updateCozmo , 60);

            function checkStatus()
            {
                postHttpRequest("checkStatus",{} )
            }
            setInterval(checkStatus , 100);

            function handleKeyActivity (e, actionType)
            {
                var keyCode  = (e.keyCode ? e.keyCode : e.which);
                postHttpRequest(actionType, {keyCode})
            }

            document.addEventListener("keydown", function(e) { handleKeyActivity(e, "keydown") } );
            document.addEventListener("keyup", function(e) { handleKeyActivity(e, "keyup") } );

            function stopEventPropagation(event)
            {
                if (event.stopPropagation)
                {
                    event.stopPropagation();
                }
                else
                {
                    event.cancelBubble = true
                }
            }
        </script>

    </body>
</html>